body {color: rgb(204,9,250);
      font-family: calibri;
      border: 1px;
      padding: 4px;}
body {background-color: white;}
h1 {color: lightcyan;
  text-align: center;
  font-family: calibri;
  margin: 0px;
  font-size: 8em}
h2 {text-align: center}
div {min-height: 100vh;
    width: 100vw}
img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
   border-radius: 130px;
}
a {color: magenta;}
li#lower {
  margin-top: 7%}
li#lowest {
  margin-top: 14%}
div.contrast {
  background-color: indigo;
  color: white;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
